.Banner3 {
  height: auto;
  text-align: center;
}
.Banner3-top__text img {
  padding-left: 10px;
  padding-bottom: 10px;
}
.Banner3-top__text h2 {
  color: #ce181e;
  padding-bottom: 10px;
}

.Banner3-top {
  width: 1400px;
  height: auto;
  margin: auto;
}
.Banner3-top__text p {
  width: 100%;
  padding-bottom: 10px;
  text-indent: 50px;
  text-align: justify;
}
.Banner3-top__text {
  text-indent: 0px;
  text-align: justify;
  text-align: left;
  padding: 0 40px;
  padding-top: 60px;
}
@media (max-width: 1400px) {
  .Banner3 {
    height: auto;
    text-align: center;
  }
  .Banner3-top__text img {
    padding-bottom: 10px;
  }
  .Banner3-top__text h2 {
    color: #ce181e;
    padding-bottom: 10px;
  }
  .Banner3-top__text p {
    padding-bottom: 10px;
    text-indent: 0px;
    text-align: justify;
  }
  .a-and-a {
    float: none;
    padding-top: 8%;
    text-align: center;
    padding-left: 0;
  }
  .Banner3-top {
    width: 100%;
    height: auto;
  }
  .Banner3-top__text {
    text-indent: 0px;
    text-align: justify;
    max-width: 100%;
    padding: 0 40px;
    padding-top: 10%;
  }
  .Banner3-top__center {
    width: 100%;
    margin: auto;
    text-indent: 50px;
    text-align: justify;
    text-align: center;
  }
  .Banner3-top__center p {
    text-indent: 50px;
  }
  .Banner3 .row {
    margin: 0;
  }
}
.a-and-a {
  width: 100%;
  padding-top: 30px;
}
.a-and-a img {
  max-width: 100%;
  margin: auto;
}
.Banner3-top img {
  max-width: 100%;
  height: auto;
  bottom: 0;
}

.banner3-button {
  margin-top: 30px;
  margin-bottom: 30px;
  border: solid black;
}
@media (max-width: 1200px) {
  .Banner3-top__text {
    padding: 0 40px;
    padding-top: 10%;
  }
}
@media (max-width: 992px) {
  .Banner3-top__text {
    padding: 0 40px;
    padding-top: 10%;
  }
}
@media (max-width: 768px) {
  .Banner3-top__text {
    padding: 0 40px;
    padding-top: 10%;
  }
}
@media (max-width: 576px) {
  .Banner3-top__text {
    padding: 0 40px;
    padding-top: 10%;
  }
}
@media (max-width: 414px) {
  .banner3-button {
    margin-top: 10px;
  }
}
